<div class="profile-container">

    <div class="profile-card" *ngIf="user$ | async as user">

        <div class="avatar">
            <div class="circle" *ngIf="profile$ | async as profile">

                    <img
                            [src]="profile.avatarBase64 || '../../../../assets/default-avatar.avif'"
                            class="avatar"
                    >

            </div>
        </div>


        <h2 class="username">{{ user.email }}</h2>
        <p class="userid">{{ 'PROFILE.UID' | translate }} {{ user.uid }}</p>

        <input type="file" accept="image/*" (change)="selectFile($event)">

        <div class="divider"></div>

        <button class="logout-btn" (click)="logout()">
            {{ 'PROFILE.LOGOUT' | translate }}
        </button>

    </div>

</div>



<ng-template #loadingTpl>
    <div class="loading-container">
        <div class="spinner"></div>
    </div>
</ng-template>