<div *ngIf="loading$ | async as loading">
    <div class="loading-container">
        <div class="spinner"></div>
    </div>
</div>
<div *ngIf="error$ | async as error">{{ 'TOURS.COUNTRY_NOT_FOUND' | translate }}</div>


<div class="country-page">
    <div class="header">
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: center">
            <img class="logo-img" src="./assets/tours.png">
            <h1>{{ 'TOURS.EXPLORE_DESTINATIONS' | translate }}</h1>
        </div>
        <p class="subtitle">{{ 'TOURS.DISCOVER_SUBTITLE' | translate }}</p>
    </div>

    <div class="search-section">
        <input
                type="search"
                [placeholder]="'TOURS.SEARCH_COUNTRY' | translate"
                [value]="search"
                (input)="searchResult($event.target.value)"
                class="search-box"
        />
    </div>

    <div *ngIf="countries$ | async as countryList">

        <div class="country-list">
            <div *ngFor="let country of pagedCountries" class="country-card">
                <img [src]="country.flags.svg" [alt]="country.name.common" class="flag" />
                <button (click)="toggle(country.cca3)">
                    {{ (favorites$ | async)?.includes(country.cca3) ? '★' : '☆' }}
                </button>
                <div class="country-info">
                    <h3>{{ country.name.common }}</h3>
                    <a style="color: black;" [routerLink]="['/tours', country.cca3]">
                        {{ 'TOURS.CLICK_EXPLORE' | translate }} {{ country.name.common }}
                    </a>
                </div>
            </div>
        </div>

        <!-- ⭐ Pagination -->
        <div class="pagination">

            <button
                    class="page-btn"
                    (click)="changePage(page - 1)"
                    [disabled]="page === 1">
                {{ 'TOURS.PREV' | translate }}
            </button>

            <span class="page-info">{{ 'TOURS.PAGE' | translate }} {{ page }}</span>

            <button
                    class="page-btn"
                    (click)="changePage(page + 1)"
                    [disabled]="page * pageSize >= countryList.length">
                {{ 'TOURS.NEXT' | translate }}
            </button>

            <select
                    class="page-select"
                    (change)="changePageSize($event)">
                <option [selected]="pageSize == 5">8</option>
                <option [selected]="pageSize == 10">12</option>
                <option [selected]="pageSize == 20">20</option>
                <option [selected]="pageSize == 50">50</option>
            </select>

        </div>
    </div>

    <ng-template #noResult>
        <p class="no-result">{{ 'TOURS.NO_COUNTRIES' | translate }}</p>
    </ng-template>
</div>
