<div class="container">
    <h2>🌍 Country List</h2>
    <input
            type="search"
            placeholder="Search country..."
            (input)="searchResult($event.target.value)"
            class="search-box"
    />

    <ul *ngIf="countries.length > 0" class="country-list">
        <li *ngFor="let country of countries" class="country-item">
            <img [src]="country.flags.svg" [alt]="country.name.common" class="flag" />
            <span>{{ country.name.common }}</span>
        </li>
    </ul>
</div>