<div *ngIf="loading">
    <div class="loading-container">
        <div class="spinner"></div>
    </div>
</div>

<div class="country-page">
    <div class="header">
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: center">
            <img class="logo-img" src="./assets/tours.png">
            <h1>{{ 'FAVORITES.YOUR_FAVORITE_COUNTRIES' | translate }}</h1>
        </div>
        <p class="subtitle">{{ 'FAVORITES.DISCOVER_SUBTITLE' | translate }}</p>
    </div>

    <div *ngIf="favoriteCountries$ | async as country; else noResult" class="country-list">
        <div *ngFor="let country of country" class="country-card">
            <img [src]="country.flags.svg" [alt]="country.name.common" class="flag" />
            <button (click)="toggle(country.cca3)">
                {{ (favorites$ | async)?.includes(country.cca3) ? '★' : '☆' }}
            </button>
            <div class="country-info">
                <h3>{{ country.name.common }}</h3>
                <a style="color: black;" [routerLink]="['/tours', country.cca3]">{{ 'FAVORITES.CLICK_EXPLORE' | translate }} {{ country.name.common }}</a>
            </div>
        </div>
    </div>

    <ng-template #noResult>
        <p class="no-result">{{ 'FAVORITES.NO_COUNTRIES' | translate }}</p>
    </ng-template>
</div>

