.top-bar {
  height: 136px;
  width: 100%;
  top: 0;
  left: 0;
}

.first-bar {
  height: 68px;
  padding: 0 10px;
}

.menu-button {
  display: none;
  width: 40px;
  cursor: pointer;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
  height: 100%;
}

.top-bar-inner {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transform: translate3d(0px, 0px, 0px);
}

.logo-container img {
  height: 50px;
  margin-left: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 5px;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  cursor: pointer;
}

.nav-link:hover {
  color: #ffdd40;
}

.second-bar {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  border-radius: 0 0 8px 8px;
  padding: 0 10px;
}

.social-media {
  margin: 0 5%;
  padding: 0 10px;
  height: 68px;
}

.social-icons {
  margin-left: 10px;
}

.social-icons img {
  width: 35px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link.active {
  color: #ffdd40;   /* золотой как hover */
  border-bottom: 2px solid #ffdd40;  /* или линия снизу */
}

.cont {
  display: flex;
  align-items: center;
}

.cont .city {
  font-size: 1.2em;
  font-family: "Academy Engraved LET", serif;
  color: white;
  margin-left: 2px;
  margin-top: 2px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.call-button {
  cursor: pointer;
  width: 160px;
  height: 35px;
  border-radius: 12px;
  border: 1px solid white;
  color: white;
}

.call-button-in {
  display: flex;
  align-items: center;
  justify-content: center;
}

.call-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.hidden-contacts {
  display: none;
}

/* ---------- Модальное окно ---------- */
.modal {
  z-index: 15;
  margin-top: -100px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal-content {
  background: #f5f7fa;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  width: 100%;
  position: relative;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

/* ---------- Форма ---------- */
.form-group {
  margin-bottom: 15px;
}

.form-input {
  width: 96%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.phone-group {
  position: relative;
}

.phone-input {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px;
}

.flag-icon {
  margin-right: 8px;
  font-size: 18px;
}

.phone-prefix {
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
}

.phone-number {
  border: none;
  outline: none;
  flex-grow: 1;
}

.textarea {
  height: 80px;
  resize: none;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background: #6D6523;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #948c43;
}

/* ---------- Адаптив ---------- */
@media screen and (max-width: 768px) {
  .menu-button {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    z-index: 10;
  }

  .social-media {
    margin: 0;
    padding: 0 10px;
  }

  .logo-container {
    margin: 0;
  }

  .cont {
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-link {
    padding: 10px;
    color: white;
  }
}

@media (max-width: 1040px) {
  .nav-link {
    font-size: 14px;
  }

  .logo-container img {
    height: 40px;
  }

  .nav-links {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .social-icons img {
    width: 25px;
  }

  .contact-info {
    flex-direction: column;
    gap: 3px;
  }

  .call-button {
    width: 160px;
    height: 30px;
  }
}

@media (max-width: 400px) {
  .logo-container img {
    height: 40px;
  }

  .cont .city {
    font-size: 1em;
  }
}